<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>
			Manage Users
		</title>
	</head>
	<body>
		<form action="" method="post"> {% csrf_token %}
    		{{ form.as_p}}
        	<button id ="add" type="submit">Submit</button>
        </form>

		{% if first_names %}
			<div><strong>Current Users</strong></div>
			<ul>
				{% for count in index %}
					<li>{{ first_names[count] }} {{ last_names[count] }} {{ emails[count] }}</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>No users are currently in the system</p>
		{% endif %}
	</body>
</html>