<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script type="text/javascript" src="script.js"></script>
		<title>
			Manage Users
		</title>
	</head>
	<body>
		<h1>Enter User Information:</h1>
		<form action="" method="post"> {% csrf_token %}
    		{{ form.as_p}}
        	<button id ="add" type="submit">Submit</button>
        </form>
        <br>

		{% if current_users %}

		<table border="1px">
			<thead>
				<tr>
					<th colspan="3">Current Users</th>
				</tr>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email Address</th>
				</tr>
			</thead>
			<tbody>
				{% for first, last, email in current_users %}
					<tr>
						<td>{{ first }}</td>
						<td>{{ last }}</td>
						<td>{{ email }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
			<p>No users are currently in the system</p>
		{% endif %}
	</body>

</html>