body {
	background: #aedfe5 url(sky.png) 0 0 repeat-x;
}

.stage {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 900px;
	height: 100%;
	overflow: hidden;
	z-index: 100;
}

.far-clouds { background: transparent url(far-clouds.png) 305px 102px repeat-x; }
.near-clouds { background: transparent url(near-clouds.png) 305px 162px repeat-x; }

.mainContent{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 101;
}
