<!doctype html>
<html lang="en">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<head>
	<title>Manage Users</title>
</head>
<body>
<h1>Current Users</h1>
<ul>
	{% for user in object_list %}
	<li>{{ user.first_name }} {{ user.last_name }} ({{ user.email}})
		<a href="{% url "user_edit" user.id %}">edit</a>
		<a href="{% url "user_delete" user.id %}">delete</a>
	</li>
	{% endfor %}
</ul>

<form action="{% url "user_new" %}" method="get">
	<input type="submit" value="Add User" name="add_user" id="add_user" />

<button id ="shake" type="button">Earth Quake!</button>
<button id ="explode" type="button">Kaboom!</button>
<script>
$('#shake').click(function() {
	$('body').effect("shake");
});
</script>
</body>
</html>